.header {
  border: 1.5px solid #adcbe3bd;
  border-radius: 25px;
  font-size: 40px;
  padding: 20px;
}

a {
  text-decoration: none;
}

.profile {
  float: right;
}

@media (max-width: 600px) {
  .header {
    font-size: 20px;
  }
}